<b>Good day {{name}}.</b>
<br>
<br>
Herewith your weekly summary report.
<br>
{{fileType}}: {{propertyDescription}}.
<br>
<br>
{{#if summaries}}
  <p>Current summary progress report:</p>
    <div>
      <div style="width: 30%; float: left; position: relative">
        <span style="font-weight: bold; color: dimgray"><i class="fas fa-user-tie"></i> &nbsp;{{summaries.user.name}}</span>
        <small style="color: #888888; float: right"> {{summaries.timeAgo}}</small>
      </div>
      <div style="background-color: #F5F5F5; padding: 0px 8px 0px 8px; color: darkslategrey; font-size: 15px; width: 60%; float: left; position: relative">
        <span>{{summaries.summary}}</span>
      </div>
    </div>
{{else}}
  <p style="color: gray;">No summary progress report added.</p>
{{/if}}
<br>
<br>
<p style="float: left; width: 100%">To view the full progress report click the link below.</p>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #33B6CC;">View Progress Report</a>
<br>
<br>
